<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/icon.ico">

    <title>Admini: Lost and Found</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="about.css" rel="stylesheet">
    <link href="dir.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted"><a href ="index.html">DMRC</a> Admin Page</h3>
        <ul class="nav nav-justified">
          <li><a href="admin.html">Home</a></li>
          <li><a href="addstation.html">Add Station</a></li>
          <li><a href="editinfo.html">Edit Station Info.</a></li>
          <li class="active"><a href="#">Lost/Found Data</a></li>
          <li><a href="#">Add Blog Post</a></li>
        </ul>
      </div>
	<br>
	<br>
	
	
     <div class="row">
        <div class="col-lg-6">
          <h2>Lost</h2>
		  <form role="form" class="col-md-9 go-right">
            <p>Enter Your Name</p>
      <div class="form-group">
      <input id="source" name="source" type="text" class="form-control" required>
      <label for="source">Name</label>
      </div>    

           <p>Belonging Lost</p>
      <div class="form-group">
      <input id="source" name="source" type="text" class="form-control" required>
      <label for="source">Lost Product</label>
      </div>    

           <p>Enter Place</p>
      <div class="form-group">
      <input id="source" name="source" type="text" class="form-control" required>
      <label for="source">Location</label>
      </div>    

           <p>Enter Date</p>
      <div class="form-group">
      <input id="source" name="source" type="text" class="form-control" required>
      <label for="source">Date</label>        
      </div>    

           <p>Enter Time</p>
      <div class="form-group">
      <input id="source" name="source" type="text" class="form-control" required>
      <label for="source">Time</label>
      </div>    

           <p>Enter Contact no.:</p>
      <div class="form-group">
      <input id="source" name="source" type="text" class="form-control" required>
      <label for="source">Contact Details</label>
      </div>  

          <p>Description(if any):</p>
      <div class="form-group">
        <label for="exampleInputPassword1">Description(if any):</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>


  <button type="submit" class="btn btn-default">Submit</button>
    </form>

        </div>
        <div class="col-lg-6">
          <h2>Found</h2>
		   <form role="form" class="col-md-9 go-right">
            <p>Enter Your Name</p>
      <div class="form-group">
      <input id="source" name="source" type="text" class="form-control" required>
      <label for="source">Name</label>
      </div>    

           <p>Belonging Found</p>
      <div class="form-group">
      <input id="source" name="source" type="text" class="form-control" required>
      <label for="source">Found Product</label>
      </div>    

           <p>Enter Place</p>
      <div class="form-group">
      <input id="source" name="source" type="text" class="form-control" required>
      <label for="source">Location</label>
      </div>    

           <p>Enter Date</p>
      <div class="form-group">
      <input id="source" name="source" type="text" class="form-control" required>
      <label for="source">Date</label>
      </div>    

           <p>Enter Time</p>
      <div class="form-group">
      <input id="source" name="source" type="text" class="form-control" required>
      <label for="source">Time</label>
      </div>    

           <p>Enter Contact no.:</p>
      <div class="form-group">
      <input id="source" name="source" type="text" class="form-control" required>
      <label for="source">Contact Details</label>
      </div>  

          <p>Description(if any):</p>
      <div class="form-group">
        <label for="exampleInputPassword1">Description(if any):</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>


  <button type="submit" class="btn btn-default">Submit</button>
    </form>
       </div>
     </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Adi-Aman-Chait</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
